.Test {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bt-next {
    margin: 5px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bt-next:hover {
    background-color: #2980b9;
}

.bt-next:active {
    transform: scale(0.9);
}


.bt-answ-option {
    /* width: 200px; */
    width: 100%;
    height: 40px;
    font-size: 24px;
    color:#fff;
    background-color: #bbbbbb;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
        /* отступ снизу */
}

.bt-answ-option:hover {
    background-color: #818181;
}

.bt-answ-option:active {
    transform: scale(0.9);
}