/*   */
body 
    .hide {
    display: none !important;
    }
    .container {
    position: relative;
    left: 15px;
    width: 1095px;
    }

    
    .header__logo {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0f0f0f;
    }

