.button {
    border-radius: 4px;
    /* padding: 8px 30px; */
    padding: 20px;
    font-family: inherit;
    cursor: pointer;
    transition: 0.25s;
    font-size: 24px;
    /* font-weight: 500; */
    border: none;
    /* уберем бортик */

    /* text-decoration: none; */
    color: white;
    width: 300px;
    height: 69px;
    background: #89C4DB;
    text-align: center;

    /* text-align: start; */
    /* display: block; */
}

.button:hover {
    background: #abe3f9;
}