.page-contacts {
    display: block;
}

.contacts-container {
    margin-left: 100px;
}
.contacts-container p {
    font-Size: 20px;
}

.rectangle-feedback {
    width: 1440px;
    width: 100%;
    /* background: #DEF0F8; */
    /* background: #E4F5E3; */
    background: #efffee;
    display: flex;
    flex-direction: column;
}



