.about-us {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 950px;


    /* ниже стили для анимации */
    position: relative;
    /* display: flex; */
    justify-content: center;


}

.employee-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.employee-info {
    margin-left: 80px;
}

.employee-info h3 {
    font-size: 25px;
}

.employee-info p {
    font-size: 20px;
    color: #666;
}

.employee-img {
    height: 300px;
    border-radius: 10px;
}




.circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(221, 255, 0);
    animation: circleAnimation 1s linear forwards;


    /* position: fixed; */
    /* Div будет "прилипать" к экрану */
    /* z-index: 9999; */
    /* Максимальное значение z-индекса */
    /* margin-top: 500; */
    /* Опционально: разместить div в верхней части окна браузера */
    /* left: 600; */
    /* Опционально: разместить div в левой части окна браузера */
}

@keyframes circleAnimation {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        transform: scale(20);
        opacity: 0;
    }
}