.about-us {
    display: block;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    width: 950px;
}

.employee-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.employee-info {
    margin-left: 80px;
}

.employee-info h3 {
    font-size: 25px;
}

.employee-info p {
    font-size: 20px;
    color: #666;
}

.employee-img {
    height: 300px;
    border-radius: 10px;
}