.home-page {
    display: block;
    margin-top: 60px;
    /* padding: 30px; */
    width: 100%;
    /* margin-top: 10px; */

}


.preview {
    /* background-color: lightblue; */
    /* background-color: #E5EDEF; */
    background: #F7F8F9;
    height: 511px;
    width: 100%;
    /* justify-content: center; */
    /* align-items: scenter; */
}

.text-preview {
    top: 50px;
    left: 20px;
    /* font-size: 32px; */
    font-weight: 300;
    /* text-align: center; */
}


.preview {
    display: flex;
    margin-top: 60px;
    /* width: 100%; */
}

.left-block-title {
    flex: 1;
    text-Align: center;
    align-items: center;
    font-size: 32px;
    
}

.right-block-title {
    flex: 2;
    /* width: 505.97px; */
    /* height: 505px; */
}

/* .right-block-title a {
    margin-top: 60px;
} */


.Block1 {
    display: flex;
    margin-top: 60px;
    /* width: 100%; */
}

.left-block1 {
    flex: 1;
    width: 728px;
    height: 631px;
    top: 931px;
    left: -25px;
    gap: 0px;
    opacity: 0px;
}

.right-block1 {
    flex: 2;
    text-Align: center;
    font-size: 20px;
    /* background-color: lightcoral; */
}


.Block2 {
    display: flex;
    margin-top: 60px;
}

.left-block2 {
    flex: 1;
    text-Align: center;
    font-size: 20px;
}

.right-block2 {
    flex: 2;
    /* width: 60px; */
}


.Block3 {
    display: flex;
    margin-top: 60px;
}

.left-block3 {
    flex: 1;

}

.right-block3 {
    flex: 2;
    text-Align: center;
    width: 60px;
    font-size: 20px;

}


.Block4 {
    background: #E4F5E3;
    display: flex;
    margin-top: 60px;
    height: 556px;
    /* justify-content: center; */
    align-items: center;

}

.left-block4 {
    width: 700px;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 32px;

    /*  flex: 1;
        width: 100%;
        height: 100%; */
}

.right-block4 {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 2; */
}

.Block5-carousel {
    text-align: center;
}

