.page-about-us {
    display: block;
    /* width: 100%;  */
    /* height: 100vh; */
    margin-top: 80px;
}


.about-us-container {
    display: block;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #f0f0f0;
}

.rectangle-contacts {
    width: 1440px;
    width: 100%;
    height: 199px;
    background: #DEF0F8;
    display: flex;

}

.title-contacts {
    font-size: 36px;
    /* font-weight: 500; */
    line-height: 43.57px;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.about-us-body {
    display: block;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

/* .phones-img {
    width: 100%;
    text-align: center;
} */