.logo {
    width: 60px;
    left: 81px;
}

.header-logo {
    font-size: 24px;
    display: flex;
}

.header-logo a {
    margin-top: 12px;
    color: #555;
    font-weight: bold;
}

.header-logo a:hover {
    color: #727DEB;
}

.header-menu {
    width: 100%;
    left: 5%;
    /* position: fixed; до */
    height: 60px;
    display: flex;
}

.header {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    background-color: #DEF0F8;
    height: 60px;
    /* padding: 2px 0; */
    /* padding-left: 3px; */

    /* max-width: 2200px; */
    /* margin: 0 auto; */
    text-align: center;
}


.header-links {
    font-size: 14px;
    display: flex;
    margin-left: 13%;
    /* display: inline-block; */
    /* Расположение ссылок в ряд  */
    /* display: table-cell; */
    /* vertical-align: middle; */
    /* text-align: center; */
    /* justify-content: center; */
    /* align-Items: 'center'; */
    /* margin-left: 1000px; */
    /* Отступ слева */
}


.header-links a {
    margin-right: 30px;
    margin-top: 20px;
    color: #555;
}


.header-links a:hover {
    color: #727DEB;
}