.logo {
    width: 60px;
    position: fixed;
    left: 0;
}




.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
        
    background-Color: 'white';
    border-Bottom: '1px solid #ccc';
    transition: 'top 0.3s';
    top: isScrolled ? '-100px': '0';
    /* для юз стейт */

    width: 100%;
    background-color: #dbfbff;
    color: #333;
    padding: 2px 0;
    height: 60px;
    /* z-index: 1000; */
    /* чтобы хедер был над другими элементов */
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 10px;
}

a {
    color: #fff;
    text-decoration: none;
}