.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-Size: 20px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-Size: 20px;
}

.bt-send {
    padding: 5px 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.bt-send:hover {
    background-color: #0056b3;
}